<!-- Home Banner-->
<div class="container home-banner">
    <img src="/assets/images/banner.png">
</div>
<!--/ Home Banner end /-->


<section class="container home-feature">
    <div class="row">
        <div class="col-md-3">
          <div class="feature-box">
            <a href="#">
              <div class="feature-img">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Rd3cjZVWNek" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
                <img src="assets/images/feature-1.jpg" alt="" class="img-fluid">
              </div>
              <div class="feature-content">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="f-title">Heading Image</h4>
                    <div class="f-more">
                      <span class="f-ctegory">Why choose us</span> / <span class="w-date">24 Aug. 2019</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div><!---feature-box 1-->
        </div><!---col-->
        <div class="col-md-3">
          <div class="feature-box">
            <a href="#">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZqLqP9kiO-o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
              <div class="feature-content">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="f-title">Heading Image</h4>
                    <div class="f-more">
                      <span class="f-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div><!---feature-box 2-->
        </div><!---col-->
        <div class="col-md-3">
          <div class="feature-box">
            <a href="#">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/49FFwqAVxlg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              <div class="feature-content">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="f-title">Heading Video</h4>
                    <div class="f-more">
                      <span class="f-ctegory">How it works</span> / <span class="w-date">10 Oct. 2019</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div><!---feature-box 3-->
        </div><!---col-->
        <div class="col-md-3">
          <div class="feature-box">
            <a href="#">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mUPLNuGao_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
              <div class="feature-content">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="f-title">Heading Video</h4>
                    <div class="f-more">
                      <span class="f-ctegory">How it works</span> / <span class="w-date">18 Sep. 2019</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div><!---feature-box 4-->
        </div><!---col-->
        
        
      </div><!---row-->
</section><!----/section home-feature---->

<section class="container services">
    <h2>HOW IS IT WORK</h2>

    <ul class="service-item">
        <li>
            <i class="fa fa-laptop"></i>
            <div class="dotline"></div>
        </li>
        <li>
            <i class="fa fa-cloud-upload"></i>
            <div class="dotline"></div>
        </li>
        <li>
            <i class="fa fa-shield"></i>
            <div class="dotline"></div>
        </li>
        <li>
            <i class="fa fa-file-archive-o"></i>
        </li>

    </ul>

</section>

