<div class="column col-md-12 mt-5">
  <!--
  <h5 class="alert alert-success font-weight-bold">Registration successful!</h5>
  <br>
  <h6>Please confirm the registration by clicking on the mail sent to registered mail id.</h6>
</div> -->



<div class="justify-content-center text-center">
  <h3>Activate your Account</h3>
  <h6>We have sent an email to </h6>
  <div>
    <img src="assets/images/mail.png">
  </div> 
  <div>
    To continue, please check your e-mail and activate your account <br>
    <div class="mt-3">
      Didn't receive the e-mail? <a href="#">Click here to resend</a>
      <div>
        <sub>*If the activation e-mail is not in your inbox, please check your span folder.</sub>
      </div>
    </div> 
  </div> 

</div>
</div>