<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h3 class="register-heading">Reset Password</h3>
      <div class="row register-form justify-content-center">
        <div class="col-md-8">
          <form [formGroup]="rpwdForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="mb-3 col-md-12">
              <input [ngClass]="{'password': true}" matInput placeholder="Password" formControlName="rpwd" [type]="showPwd ? 'text': 'password'" required  (focusin)="togglePwdHints()" (focusout)="togglePwdHints()">
              <i class="float-right fa " [ngClass]="{'fa-eye-slash': !showPwd, 'fa-eye': showPwd}" (click)="showPwd = !showPwd"></i>
              <mat-error *ngIf="f.rpwd.errors?.required">Password is required</mat-error>
              <mat-error *ngIf="f.rpwd.errors?.pattern">Weak password</mat-error>
            </mat-form-field>
            <mat-form-field class="mb-3 col-md-12">
              <input [ngClass]="{'password': true}" matInput placeholder="Confirm password" formControlName="cpwd" [type]="showCPwd ? 'text': 'password'" required [errorStateMatcher]="errorMatcher">
              <i class="float-right fa " [ngClass]="{'fa-eye-slash': !showCPwd, 'fa-eye': showCPwd}" (click)="showCPwd = !showCPwd"></i>
              <mat-error *ngIf="f.cpwd.errors?.required">Password is required</mat-error>
              <mat-error *ngIf="!(rpwdForm?.errors?.pwdMatch)">Passwords don't match</mat-error>
            </mat-form-field>
              <alert></alert>
              <div class="form-group">
                <button [disabled]="loading || rpwdForm.invalid" class="btn btn-primary btnRegister">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Submit
                </button>
              </div>
          </form>
        </div>
      </div>
    </div>
</div>