<!-- Home Banner-->
<div class="container home-banner">
    <img src="assets/images/inner-bannerAbout.png">
</div>
<!--/ Home Banner end /-->

<!----/Landing page Inner section-->
<div class="container internal-about">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h4>The usefulness of nonsensical content</h4>
            <p class="text-justify">Dummy text is also used to demonstrate the appearance of different typefaces and layouts, and in general the content of dummy text is nonsensical. Due to its widespread use as filler text for layouts, non-readability is of great importance: human perception is tuned to recognize certain patterns and repetitions in texts. If the distribution of letters and 'words' is random, the reader will not be distracted from making a neutral judgement on the visual impact and readability of the typefaces (typography), or the distribution of text on the page (layout or type area). For this reason, dummy text usually consists of a more or less random series of words or syllables. This prevents repetitive patterns from impairing the overall visual impression and facilitates the comparison of different typefaces. Furthermore, it is advantageous when the dummy text is relatively realistic so that the layout impression of the final publication is not compromised.</p>
        </div>
        <div class="col-sm-12 col-md-4"><img src="assets/images/Data-Protection.jpg" class="img-fluid"></div>
    </div><!--row-->
    <div class="row mt-3">
        <div class="col-sm-12 col-md-4"><img src="assets/images/Data-Protection1.jpg" class="img-fluid"></div>
        <div class="col-sm-12 col-md-8">
            <h4>The usefulness of nonsensical content</h4>
            <p class="text-justify">Dummy text is also used to demonstrate the appearance of different typefaces and layouts, and in general the content of dummy text is nonsensical. Due to its widespread use as filler text for layouts, non-readability is of great importance: human perception is tuned to recognize certain patterns and repetitions in texts. If the distribution of letters and 'words' is random, the reader will not be distracted from making a neutral judgement on the visual impact and readability of the typefaces (typography), or the distribution of text on the page (layout or type area). For this reason, dummy text usually consists of a more or less random series of words or syllables. This prevents repetitive patterns from impairing the overall visual impression and facilitates the comparison of different typefaces. Furthermore, it is advantageous when the dummy text is relatively realistic so that the layout impression of the final publication is not compromised.</p>
        </div>
        
        
            

    </div><!--row-->
</div>
<!----/Landing page Inner section end-->