<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="register-heading mt-5"> <h3>Forgot Password</h3><br/><h6>If you have forgotten your password enter your e-mail address below. We will send you an e-mail with further instructions.</h6></div>
      <div class="row register-form justify-content-center">
        <div class="col-md-8">
        <form [formGroup]="fpwdForm" (ngSubmit)="onSubmit()" class="overflow-hidden">
            <mat-form-field class="mb-3 col-md-12">
              <input (click)="hideErrMsg()"  matInput placeholder="Email" formControlName="email" type="email" required>
              <mat-error *ngIf="f.email.errors?.required">Email is required</mat-error>
              <mat-error *ngIf="f.email.errors?.email || f.email.errors?.pattern">Invalid email</mat-error>
              <mat-error *ngIf="f.email.errors?.maxlength">Email id exceeded max length (75)</mat-error>
            </mat-form-field>
            <alert *ngIf="showErrFlg"></alert>
            <div class="col-md-12 float-right">
              <button [disabled]="loading || fpwdForm.invalid" class="btn btn-primary btnRegister">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Submit
              </button>
            </div>
        </form>
        <div class="col-md-12 text-center mt-3 clearfix">
          New to tightcap.com? <a [routerLink]="['/signin/signup']" routerLinkActive="router-link-active" >Register for an account</a>
        </div>
      </div>
    </div>
  
  </div>
  